/* PROJECT THREE STYLES */

body {
	font-family: "Montserrat", sans-serif;
	color: #363E40;
	background-color: #FFFBF1;
}

main {
	overflow: hidden;
}

/* BACKGROUNDS */

.background-grey {
	background-color: #363E40;
}

.background-green {
	background-color: #3B4F45;
}

.background-red {
	background-color: #904C4B;
}

.background-white {
	background-color: #FFFBF1;
}


/* TEXT FONTS */

/* Main Styles */

h1 {
	font-size: 32px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -2%;
}

h2 {
	font-size: 48px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -2%;
}

h3 {
	font-size: 64px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: -2%;
}

p {
	font-size: 16px;
	line-height: 140%;
	font-weight: 400;
	letter-spacing: 0%;
}

li {
	line-height: line-height 140%;
}

/* Text Colour */

.text-grey {
	color: #363E40;
}

.text-green {
	color: #3B4F45;
}

.text-red {
	color: #904C4B;
}

.text-white {
	color: #FFFBF1;
}

/* Navigation */

header {
	background-color: #363E40;
	padding: 16px 84px;
}

.nav-link {
	color: #FFFBF1;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
}

nav li {
	list-style: none;
	padding-left: 50px;
	padding-right: 50px;
}

nav ul {
	display: flex;
	justify-content: center;
	gap: 16px;
	padding-left: 50px;
	padding-right: 50px;
}

.nav-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.hamburger {
	width: 30px;
	height: 20px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
}

.line {
	width: 100%;
	height: 2px;
	background-color: #FFF4E2;
}


/* Image Styles */


.img-full {
	display: block;
	width: 100%;
}

/* Buttons */

.button {
	display: inline-block;
	color: #FFFBF1;
	padding: 10px 50px;
	border-radius: 30px;
	font-size: 20px;
	background-color: #B08230;
	text-decoration: none;
	font-weight: bold;
	transition: background 0.2s ease;
	border: none;
}

.button:hover {
	background-color: #3B4F45;
}

.button-secondary {
	display: inline-block;
	color: #FFFBF1;
	padding: 10px 18px;
	background-color: #F6C346;
	text-decoration: none;
	font-weight: bold;
	transition: background 0.2s ease;
}


.button-secondary:hover {
	background-color: #904C4B;
}


/* MOBILE BREAKPOINT */

@media screen and (max-width: 478px) {

	h1 {
		font-size: 56px;
	}

	h2 {
		font-size: 44px;
	}

	h3 {
		font-size: 28px;
	}

	.menu {
		display: none;
	}

	.cta-wrap {
		display: none;
	}

	.hamburger {
		display: flex;
	}

	.hero-icon {
		width: 40vw;
		position: absolute;
		right: -20%;
		top: -10vw;
	}

	.newsletter-form {
		display: grid;
		grid-template: 1fr / 1fr;
		gap: 32px;
		align-items: start;
	}

	.footer-logo {
		display: none;
	}

	.footer-meta {
		margin: 0px;
	}



